.edit-post-visual-editor.editor-styles-wrapper
{
    background: #242943;
    color: #ffffff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 17pt;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.65;
}

.editor-styles-wrapper .inner {
    padding: 4em 0 2em 0;
    margin: 0 auto;
    max-width: 65em;
    width: calc(100% - 6em);
}

.edit-post-visual-editor.editor-styles-wrapper h1,
.edit-post-visual-editor.editor-styles-wrapper h2,
.edit-post-visual-editor.editor-styles-wrapper h3,
.edit-post-visual-editor.editor-styles-wrapper h4,
.edit-post-visual-editor.editor-styles-wrapper h5,
.edit-post-visual-editor.editor-styles-wrapper [tagname="h1"],
.edit-post-visual-editor.editor-styles-wrapper [tagname="h2"],
.edit-post-visual-editor.editor-styles-wrapper [tagname="h3"],
.edit-post-visual-editor.editor-styles-wrapper [tagname="h4"],
.edit-post-visual-editor.editor-styles-wrapper [tagname="h5"],
.edit-post-visual-editor.editor-styles-wrapper [tagname="h6"]
{
    color: #ffffff;
    font-weight: 600;
}

.editor-post-title__block .editor-post-title__input,
.editor-post-title__block .editor-post-title__input:focus,
.edit-post-visual-editor input,
.edit-post-visual-editor textarea
{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #ffffff;
}

.editor-post-title__block .editor-post-title__input::placeholder,
.edit-post-visual-editor.editor-styles-wrapper .block-editor-plain-text::placeholder,
.edit-post-visual-editor input::placeholder,
.edit-post-visual-editor textarea::placeholder,
::placeholder
{
    color: rgb(255,255,255,0.7);
}

.wp-block {
    max-width: none;
}

.wp-block[data-type="forty/tile"] article {
    padding: 4em 4em 2em 4em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.wp-block[data-type="forty/tile"] {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    cursor: default;
    height: 40vh;
    max-height: 40em;
    min-height: 23em;
    padding: unset;
    margin: unset;
    overflow: hidden;
    position: relative;
    width: 40%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.wp-block[data-type="forty/main"],
.wp-block[data-type="forty/generic-section"],
.wp-block[data-type="forty/tile-section"],
.wp-block[data-type="forty/banner"] {
    border-left: 1px solid #e2e4e7;
    border-right: 1px solid #e2e4e7;
}

.wp-block[data-type="forty/main"]::before {
    content: "Main"
}

.wp-block[data-type="forty/banner"]::before {
    content: "Banner";
    z-index: 3;
}

.wp-block[data-type="forty/tile-section"]::before {
    content: "Section - Tiles";
}

.wp-block[data-type="forty/generic-section"]::before {
    content: "Section - Generic";
}

.wp-block[data-type="forty/main"]::before,
.wp-block[data-type="forty/generic-section"]::before,
.wp-block[data-type="forty/tile-section"]::before,
.wp-block[data-type="forty/banner"]::before {
    display: block;
    border: 1px solid #e2e4e7;
    padding: 0px 10px;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.wp-block[data-type="forty/main"]::after,
.wp-block[data-type="forty/generic-section"]::after,
.wp-block[data-type="forty/tile-section"]::after,
.wp-block[data-type="forty/banner"]::after {
    content: '';
    display: block;
    position: relative;
    border-bottom: 1px solid #e2e4e7;
}

.wp-block[data-type="forty/tile-section"] .block-editor-block-list__layout {
    display: flex;
    flex-wrap: wrap;
}

.wp-block[data-type="forty/tile"] button,
.wp-block[data-type="forty/tile"] textarea
{
    position: relative;
    z-index: 3;
}

.wp-block[data-type="forty/tile"] button {
    color: #ffffff;
}

.wp-block[data-type="forty/tile"] [tagname="h3"] {
    color: #ffffff;
    line-height: 1.4;
    font-size: 1.56em;
    background: transparent;
}

.wp-block[data-type="forty/tile"] [tagname="p"] {
    color: #ffffff;
    background: transparent;
}

.wp-block[data-type="forty/tile"]::before {
    content: '';
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.85;
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.wp-block[data-type="forty/tile"]::after {
    background-color: rgba(36, 41, 67, 0.25);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.wp-block[data-type="forty/tile"]:hover::before {
    opacity: 0;
}

.wp-block[data-type="forty/tile"]:nth-child(4n - 1), .wp-block[data-type="forty/tile"]:nth-child(4n - 2) {
    width: 60%;
}

.wp-block[data-type="forty/tile"]:nth-child(6n - 5)::before {
    background-color: #6fc3df;
}

.wp-block[data-type="forty/tile"]:nth-child(6n - 4)::before {
    background-color: #8d82c4;
}

.wp-block[data-type="forty/tile"]:nth-child(6n - 3)::before {
    background-color: #ec8d81;
}

.wp-block[data-type="forty/tile"]:nth-child(6n - 2)::before {
    background-color: #e7b788;
}

.wp-block[data-type="forty/tile"]:nth-child(6n - 1)::before {
    background-color: #8ea9e8;
}

.wp-block[data-type="forty/tile"]:nth-child(6n)::before {
    background-color: #87c5a4;
}

header.major::after {
    content: '';
    background-color: #ffffff;
    display: block;
    height: 2px;
    margin: 0.325em 0 0.5em 0;
    width: 100%;
    position: relative;
    z-index: 3;
}

.wp-block[data-type="forty/banner"] header.major {
    font-size: 3.25em;
}

.wp-block[data-type="forty/banner"] .content > p {
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

.wp-block[data-type="forty/banner"]::after {
    background-color: #242943;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.85;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.wp-block[data-type="forty/banner"] button,
.wp-block[data-type="forty/banner"] textarea,
.wp-block[data-type="forty/banner"] .rich-text.block-editor-rich-text__editable
{
    position: relative;
    z-index: 3;
}

.block-editor-block-list__block-crash-warning.block-editor-warning {
    background-color: #242943;
}

.block-editor-warning .block-editor-warning__message,
.block-editor-warning button.is-secondary,
.block-editor-warning button.has-icon {
    color: #242943;
}

.block-editor-block-list__empty-block-inserter .block-editor-inserter__toggle:not(:hover),
.block-editor-default-block-appender .block-editor-inserter .block-editor-inserter__toggle:not(:hover)
{
    color: #ffffff;
}

.wp-block[data-type="forty/main"] {
    background-color: #2a2f4a;
}