.edit-post-visual-editor.editor-styles-wrapper
{
    background-color: #2a2f4a;
    color: #ffffff;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 17pt;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.65;
}

.editor-styles-wrapper .inner {
    padding: 4em 0 2em 0;
    margin: 0 auto;
    max-width: 65em;
    width: calc(100% - 6em);
}

.editor-styles-wrapper .wp-block[data-type^="forty/"] h1,
.editor-styles-wrapper .wp-block[data-type^="forty/"] h2,
.editor-styles-wrapper .wp-block[data-type^="forty/"] h3,
.editor-styles-wrapper .wp-block[data-type^="forty/"] h4,
.editor-styles-wrapper .wp-block[data-type^="forty/"] h5
{
    color: #ffffff;
    font-weight: 600;
    line-height: 1.65;
    margin: 0 0 1em 0;
}

.editor-post-title__block .editor-post-title__input,
.editor-post-title__block .editor-post-title__input:focus,
.edit-post-visual-editor input,
.edit-post-visual-editor input:focus,
.edit-post-visual-editor textarea,
.edit-post-visual-editor textarea:focus
{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #ffffff;
    background: transparent;
}

.editor-post-title__block .editor-post-title__input::placeholder,
.edit-post-visual-editor.editor-styles-wrapper .block-editor-plain-text::placeholder,
.edit-post-visual-editor input::placeholder,
.edit-post-visual-editor textarea::placeholder,
::placeholder
{
    color: rgb(255,255,255,0.7);
}

.wp-block {
    max-width: none;
}

.wp-block[data-type="forty/tile"] article {
    padding: 4em 4em 2em 4em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.wp-block[data-type="forty/tile"] {
    align-items: center;
    display: flex;
    cursor: default;
    height: 40vh;
    max-height: 40em;
    min-height: 23em;
    padding: unset;
    margin: unset;
    overflow: hidden;
    position: relative;
    width: 40%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.wp-block[data-type="forty/spotlight-section"],
.wp-block[data-type="forty/generic-section"],
.wp-block[data-type="forty/tile-section"],
.wp-block[data-type="forty/banner"] {
    border-left: 1px solid #e2e4e7;
    border-right: 1px solid #e2e4e7;
}

.wp-block[data-type="forty/spotlight-section"]::before {
    content: "Section - Spotlights";
}

.wp-block[data-type="forty/banner"]::before {
    content: "Banner";
    z-index: 3;
}

.wp-block[data-type="forty/tile-section"]::before {
    content: "Section - Tiles";
}

.wp-block[data-type="forty/generic-section"]::before {
    content: "Section - Generic";
}

.wp-block[data-type="forty/spotlight-section"]::before,
.wp-block[data-type="forty/generic-section"]::before,
.wp-block[data-type="forty/tile-section"]::before,
.wp-block[data-type="forty/banner"]::before {
    display: block;
    border: 1px solid #e2e4e7;
    padding: 0px 10px;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.wp-block[data-type="forty/spotlight-section"]::after,
.wp-block[data-type="forty/generic-section"]::after,
.wp-block[data-type="forty/tile-section"]::after,
.wp-block[data-type="forty/banner"]::after {
    content: '';
    display: block;
    position: relative;
    border-bottom: 1px solid #e2e4e7;
}

.wp-block[data-type="forty/button-group"] .block-editor-block-list__layout,
.wp-block[data-type="forty/tile-section"] .block-editor-block-list__layout {
    display: flex;
    flex-wrap: wrap;
}

.wp-block[data-type="forty/button-group"] .block-editor-block-list__block,
.wp-block[data-type="forty/tile-section"] .block-editor-block-list__block {
    margin: auto 0;
}

.wp-block[data-type="forty/tile"] button,
.wp-block[data-type="forty/tile"] textarea
{
    position: relative;
    z-index: 3;
}

.wp-block[data-type="forty/tile"] button {
    color: #ffffff;
}

.wp-block[data-type="forty/tile"] h3 {
    line-height: 1.4;
    font-size: 1.56em;
}

.wp-block[data-type="forty/tile"] p {
    color: #ffffff;
    background: transparent;
}

.wp-block[data-type="forty/tile"]::before {
    content: '';
    transition: opacity 0.5s ease;
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.85;
    position: absolute;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.wp-block[data-type="forty/tile"]::after {
    background-color: rgba(36, 41, 67, 0.25);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.wp-block[data-type="forty/tile"]:hover::before {
    opacity: 0;
}

.wp-block[data-type="forty/tile"]:nth-child(4n - 1), .wp-block[data-type="forty/tile"]:nth-child(4n - 2) {
    width: 60%;
}

.wp-block[data-type="forty/tile"]:nth-child(6n - 5)::before {
    background-color: #6fc3df;
}

.wp-block[data-type="forty/tile"]:nth-child(6n - 4)::before {
    background-color: #8d82c4;
}

.wp-block[data-type="forty/tile"]:nth-child(6n - 3)::before {
    background-color: #ec8d81;
}

.wp-block[data-type="forty/tile"]:nth-child(6n - 2)::before {
    background-color: #e7b788;
}

.wp-block[data-type="forty/tile"]:nth-child(6n - 1)::before {
    background-color: #8ea9e8;
}

.wp-block[data-type="forty/tile"]:nth-child(6n)::before {
    background-color: #87c5a4;
}

.wp-block[data-type^="forty/"] header.major {
    margin-bottom: 2em;
}

.wp-block[data-type^="forty/"] header.major > :first-child {
    margin-bottom: 0;
}

.wp-block[data-type^="forty/"] header.major > :first-child::after {
    content: '';
    background-color: #ffffff;
    display: block;
    height: 2px;
    margin: 0.325em 0 0.5em 0;
    width: 100%;
    position: relative;
    z-index: 3;
}

.wp-block[data-type="forty/banner"] {
    background: #242943;
}

.wp-block[data-type="forty/banner"] h1 {
    font-size: 3.25em;
}

.wp-block[data-type="forty/banner"] .content > p {
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}

.wp-block[data-type="forty/banner"]::after {
    background-color: #242943;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.85;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.wp-block[data-type="forty/banner"] button,
.wp-block[data-type="forty/banner"] textarea,
.wp-block[data-type="forty/banner"] .rich-text.block-editor-rich-text__editable
{
    position: relative;
    z-index: 3;
}

.block-editor-block-list__block-crash-warning.block-editor-warning {
    background-color: #242943;
}

.block-editor-warning button.is-secondary,
.block-editor-warning button.has-icon {
    color: #242943;
}

.block-editor-block-list__empty-block-inserter .block-editor-inserter__toggle:not(:hover),
.block-editor-default-block-appender .block-editor-inserter .block-editor-inserter__toggle:not(:hover)
{
    color: #ffffff;
}

.wp-block[data-type="forty/button-group"] ul.actions {
    list-style: none;
}

.wp-block[data-type="forty/button"] li {
    padding: 0 1em;
    vertical-align: middle;
}

.wp-block[data-type="forty/spotlight"] .button,
.wp-block[data-type="forty/button"] .button {
    display: inline-flex;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-shadow: inset 0 0 0 2px #ffffff;
    color: #ffffff;
    font-size: 0.8em;
    font-weight: 600;
    height: 3.5em;
    letter-spacing: 0.25em;
    line-height: 3.5em;
    padding: 0 1.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.wp-block[data-type="forty/spotlight"] .button > *,
.wp-block[data-type="forty/button"] .button > * {
    display: inherit;
}

.wp-block[data-type="forty/spotlight"] .button button,
.wp-block[data-type="forty/button"] .button button {
    margin: auto;
}

.wp-block[data-type="forty/spotlight-section"] .block-editor-button-block-appender,
.wp-block[data-type="forty/button-group"] .block-editor-button-block-appender {
    width: unset;
}

.wp-block[data-type="forty/spotlight"] {
    background-color: #2e3450;
    margin: unset;
}

.wp-block[data-type="forty/spotlight"]:nth-child(2n) {
    background-color: #333856;
}

.wp-block[data-type="forty/spotlight"] section {
    display: flex;
    flex-direction: row;
}

.wp-block[data-type="forty/spotlight"]:nth-child(2n) section {
    flex-direction: row-reverse;
}

.wp-block[data-type="forty/spotlight"] section > .content {
    width: 70%;
}

.wp-block[data-type="forty/spotlight"] section > .image {
    background-position: center center;
    background-size: cover;
    border-radius: 0;
    display: block;
    position: relative;
    width: 30%;
}

.wp-block[data-type="forty/spotlight"] section > .image img {
    border-radius: 0;
    display: block;
    width: 100%;
}
